###Windows###

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN\


###Linux###

!.tfignore
*~
\#*
.#*
*.swp

# KDE
.directory


###OSX###

.DS_Store

node_modules/
dist/