@import './client/styles/_mixins.scss';
* {
  box-sizing: border-box;
}
html, body{
  height:100%;
  overflow-x: hidden;
}
.treeParent{
    height: 100%;
    border-left: solid 1px;
    padding: 10px;
    float: right;
    width: 30%;
    overflow-x: scroll;

    .hideNode{
      display: none;
    }
}
.node{
  padding-left: 10px;
  list-style: none;

  ul{
    list-style: none;
    margin: 0 0 0 10px;
  }

  .nodeButtonCtnr{
      position:relative;
      &:hover {
      .nodeOptions{
        position: absolute;
        bottom:0px;
        top:0px;
        @include animation('slide-in .5s forwards');
        visibility:visible;
        display:inline-block;
        z-index: 9;

        .nodeOptionIcon{
          display:inline-block;
        }
      }
    }

    >.node{
      margin: 0px;
    }

    .nodeOptions{
      $width: 80px;
      display:none;
      width: $width;
      visibility:hidden;
      transform: translateY(-50%);
      @include keyframes(slide-in) {
       100% { transform: translateX(0%); }
      }
      .nodeButton, .nodeButton:hover, .nodeButton:active, .nodeButton:focus{
        min-width: 20px;
        position: relative;

        .contentsMenu{
            position: absolute;
            left: 0px;
            background: #ccc;
            text-align: left;
            padding: 0px;
            margin: 0px;
            > li {
              padding: 10px;

              a {
                color: inherit;
              }
            }
        }
      }
    }

    .nodeButton, .nodeButton:hover, .nodeButton:active, .nodeButton:focus{
      padding: 6px 2px;
      font-weight: 500;
      background: none;

      span{
        padding-left: 5px;
      }
      i {
        font-size: 16px;
        margin-right: 0px;
      }

    }
  }
}